.edit {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.edit-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.edit-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.edit-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.edit-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
}

.edit-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.edit .edit-form {
    padding: 10%;
    margin-top: 10%;
}

.edit-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
