<div class="row">
    <div class="col-md-6">
        <form asp-area="Admin" asp-controller="Flights" asp-action="Delete" method="post">
            @Html.AntiForgeryToken()
            <h4 class="text-danger">Are you sure you want to delete flight?</h4>
            <hr />
            
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("All", "Flights", new {Area = "Admin"})'">Cancle</button>
            
        </form>

       
    </div>
</div>