 @model IEnumerable<AllTraveloguesViewModel>
<link rel="stylesheet" href="~/css/cardTravelogue.css" asp-append-version="true" />

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-3.4.1.slim.js"></script>

<section class="news pt-0">
  <div class="container mt-md-5">
    <ul class="row d-lg-flex list-unstyled image-block justify-content-center px-lg-0 mx-lg-0">
      @foreach (var travelogue in Model)
        {
            <partial name="_DisplayTraveloguePartial" model="travelogue" />
        }
    </ul>
  </div>
</section>
